nav {
  position: sticky;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  width: 500px;
  padding: 20px 15px;
  margin-top: -15px;
  clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);
  z-index: 2000;

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;

    li {
      font-size: 28px;
      width: 100%;
      text-align: center;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:not(:last-child) {
        border-right: 1px solid #ee161e;
      }

      a {
        position: relative;
      }

      a:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -7px;
        right: 0;
        background-color: #ee161e;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }

      a:hover:before {
        visibility: visible;
        width: 100%;
      }
    }
  }
}

@media screen and (width < 1180px) {
  nav {
    transform: translate(-50%) scale(80%);
    position: fixed;
    top: 90px;
  }
}

@media screen and (width < 774px) {
  nav {
    top: 60px;
  }
}
