.card {
  padding: 5px;
  width: 350px;
  background: rgb(9, 9, 121);
  background: linear-gradient(137deg, rgba(9, 9, 121, 1) 0%, #ee161e 80%);
  border: 1px solid #444;
  color: #fff;
  cursor: pointer;
  position: relative;

  .favorite-svg {
    position: absolute;
    height: 28px;
    right: 10px;
    top: 10px;
  }

  .card-content {
    background-color: #111111;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 92% 100%, 0 100%);

    filter: grayscale(0.8) brightness(1.3) saturate(1.5);
    transition: 0.2s ease-in-out;

    &:hover {
      filter: none;
    }
  }

  .card- {
    &header {
      padding: 12px 0;
      text-align: center;
      font-size: 14px;
      font-family: "Inter", sans-serif;
    }

    &body {
      overflow: hidden;
      height: 250px;
      width: 100%;
      background-size: cover;
      // filter: grayscale(0.9) brightness(1.5);
      // transition: 0.2s ease-in-out;

      // &:hover {
      //   filter: none;
      // }
    }

    &footer {
      padding: 8px 27px;
      line-height: 19px;
      height: 50px;
      overflow-y: hidden;
      text-align: justify;
      font-size: 14px;
    }
  }
}
